body{
background-color:rgb(67, 255, 158);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header_div{
background-color: rgb(5, 209, 255);
color: rgb(255, 0, 0);
}

.header_div p{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(0, 0, 255);
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
}

.main_div button{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-top: 30px;
width: 120px;
font-weight: bolder;
letter-spacing: 2px;
}

.copy_right_footer{
position: fixed;
color: black;
background-color: aqua;
line-height: 3;
bottom: 0;
width: 100%;
text-align: center;
text-shadow: 5px 5px 5px gray;
font-size: 18px;
}